.leftsetting{
height: 220px;
width: 45%;
/* border: solid; */
}
.puradiv label{
    font-size: 18px;
    padding-left: 8px;
}
.rightsetting{
    height: 220px;
    width: 45%;
    /* border: solid; */
}
.puradiv{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}
.purabutton{
margin: 1rem;
}
.circle .logo{
    border-radius: 80px;
}